---
import Modal from "../../components/Modal/Modal.astro";
import About from "../../assets/about.svg";
import Me from "../../assets/me.jpeg";
import NCF from "../../assets/ncf.svg";

const cardId = "about";
---

<Modal
  cardId={cardId}
  cardTitle="About Me"
  cardIcon={About.src}
  modalOverlayId="modalOverlay"
  modalContentId="aboutContainer"
  modalHeaderId="modalHeader"
  closeModalId="closeModal"
  cardElementId="aboutCard"
  maxWidth="600px"
  maxHeight="50vh"
>
  <!-- Modal Content Slot -->
  <h2
    class="flex
      mt-4 mb-4
      text-[#fcf5e5] text-[2rem]
      font-bold
      self-center"
  >
    About Me
  </h2>

  <div class="flex
      mt-4
      justify-between items-center">
    <img
      class="w-[40%] h-[40%] rounded-lg"
      src={Me.src}
      alt="Profile picture"
    />

    <div
      class="flex flex-col
        w-[55%]
        justify-center items-center"
    >
      <p class="mb-4 leading-[1.6] text-[#fff5ee]">
        Hi, I'm Cyryl, and welcome to my portfolio. As an aspiring backend
        developer, I'm focused on designing and building reliable server-side
        applications. My goal is to write clean, efficient code that ensures
        smooth data flow and system stability.
      </p>
    </div>
  </div>
  <div class="flex justify-center items-center mt-4">
    <h2
      class="flex
      mt-4 mb-4
      text-[#fcf5e5] text-[2rem]
      font-bold
      self-center"
    >
      EDUCATION
    </h2>
  </div>
  <div class="flex flex-col mb-4">
    <img class="h-full w-full" src={NCF.src} alt="NCF Logo" />

    <p class="text-white mt-2">
      Bachelor of Science in Computer Science
      <br />Naga College Foundation | NagaCity, Philippines
      <br />Graduating: July 2024
    </p>
  </div>
</Modal>
