---
interface Props {
  id: string;
}

const { id } = Astro.props;
---

<div
  class="flex z-20 overflow-visible
    w-[100px] h-[100px]
    pointer-events-auto select-none
    absolute -top-[25px] -right-[25px] justify-center items-center"
>
  <button
    class="flex justify-center items-center
      w-[30px] h-[30px]
      bg-red-500 hover:bg-red-600 active:bg-red-700
      rounded-full
      shadow-xl
      transform translate-y-[-2px]
      hover:translate-y-[0px] active:translate-y-[0px]
      transition-all duration-200 ease-in-out
      cursor-pointer
      hover:border-t-6 border-red-300
      border-2 hover:border-red-300"
    id={id}
  >
    <span
      class="text-2xl text-white font-bold
        transform hover:rotate-90 active:rotate-180
        transition-transform duration-300 ease-in-out
        select-none"
      >&times;</span
    >
  </button>
</div>

<style>
  button {
    transform-style: preserve-3d;
    perspective: 800px;
  }

  button:hover {
    transform: translateY(0px) rotateX(20deg);
  }

  button:active {
    transform: translateY(0px) rotateX(30deg) scale(0.95);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  }

  button:hover span {
    animation: rotateX 0.3s ease-in-out;
  }

  @keyframes rotateX {
    0% {
      transform: rotate(0deg);
    }
    50% {
      transform: rotate(45deg);
    }
    100% {
      transform: rotate(90deg);
    }
  }
</style>
