---
interface Props {
  title: string;
  icon: string;
  cardId: string;
}

const { title, icon, cardId } = Astro.props;
---

<div data-card-id={cardId} class="card">
  <div class="flex
      justify-center items-center icon-container">
    <div>
      <img
        src={icon}
        alt=""
        aria-hidden="true"
        class="w-[60px] h-[60px]
            brightness-0 invert"
      />
    </div>
  </div>
  <div class="flex
      justify-center items-center content-container">
    <h3
      class="font-semibold text-white font-[
      'Poppins',sans-serif]"
    >
      {title}
    </h3>
  </div>
</div>

<script>
  import { initializeCard } from "./cardHandler";
  const cardElements = document.querySelectorAll("[data-card-id]");
  cardElements.forEach((card) => {
    const cardId = card.getAttribute("data-card-id");
    if (cardId) {
      initializeCard(cardId);
    }
  });
</script>
