.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
  overflow: hidden;
  background-color: #766257;
  min-width: 200px;
  max-width: 200px;
  min-height: 200px;
  max-height: 200px;
  border-radius: 12px;
  border: 1px solid #ffffff;
}
.card_clicked {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-image: url("../../assets/Subtract.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-color: transparent;
  border: none;
  min-width: 200px;
  max-width: 200px;
  min-height: 200px;
  max-height: 200px;
  overflow: hidden;
  border-radius: 12px;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.card:not(.card_clicked):hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.cardIconContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  border-radius: 12px 12px 0 0;
  padding: 1rem;
}

.cardIcon img {
  width: 50px;
  height: 50px;
  filter: brightness(0) invert(1);
}

.cardContent {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #362b14;
  padding: 0 1rem 0 1rem;
  height: 120px;
}
.cardTitle {
  font-size: 1.25rem;
  font-weight: 600;
  color: #ffffff;
  font-family: "Poppins", sans-serif;
}
div[data-card-id] {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.cardContent_clicked {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #362b14;
  padding: 0 1rem 0 1rem;
  height: 120px;
  border-bottom: 1px solid #ffffff;
  border-left: 1px solid #ffffff;
  border-right: 1px solid #ffffff;
  border-radius: 0 0 12px 12px;
}

.cardIconContainer_clicked {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 12px 12px 0 0;
  height: 80px;
  padding: 1rem;
  border-right: 1px solid #ffffff;
}
