.card {
  display: flex;
  flex-direction: column;
  border-radius: 12px;
  transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
  border: 1px solid rgba(255, 255, 255, 0.1);
  overflow: hidden;
}
.card_clicked {
  background-image: url("../../assets/Subtract.svg");
  background-size: cover;
  background-repeat: no-repeat;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.cardIcon {
  background-color: rebeccapurple;
}

.cardIcon img {
  width: 40px;
  height: 40px;
}

.cardTitle {
  font-size: 1.25rem;
  font-weight: 600;
  color: #ffffff;
  font-family: "Poppins", sans-serif;
}
