---
import Layout from "../layouts/Layout.astro";
import AboutMe from "./About/AboutMe.astro";
import Skills from "./Skills/Skills.astro";
import Contact from "./Contact/Contact.astro";
import Projects from "./Project/Projects.astro";
import Docs from "./Docs/Docs.astro";
import Recommendation from "./Recommendations/Recommendations.astro";
import Top from "../assets/top.svg";
import Bot from "../assets/bot.svg";
import "../styles/global.css";
---

<Layout>
  <div
    class="flex flex-col md:flex-row md:p-0 w-screen md:w-full
        justify-center items-center gap-4"
  >
    <div
      class="overflow-auto
        w-screen h-[40%]
        md:w-[20vw] md:h-[70vh]
        p-4
        bg-[#1c1c25]
        rounded-2xl border border-transparent
        shadow-lg shadow-[#101016] transition-colors
        scrollbar-hide hover:bg-[#2a2a30] hover:border-gray-200 duration-200 ease-in-out
        md:p-10 md:p-b-0"
    >
      <AboutMe />
    </div>
    <div
      class="md:overflow-hidden w-screen h-min-screen
        md:w-[40vw] md:h-[70vh] p-0 m-0"
    >
      <div class="flex flex-col md:justify-between h-full">
        <div class="md:w-full h-[2vh] mb-3">
          <img src={Top.src} />
        </div>
        <div class="flex md:h-[16vh] md:m-0 items-center mb-3 md:mb-0">
          <Contact />
        </div>
        <div
          class="md:h-[35vh] box-border w-full py-3 px-2 m-b-0 items-center border-[#1c1c25] rounded-3xl md:shadow-sm shadow-[#101016] md:p-5 md:border-25"
        >
          <div
            class="flex flex-col w-full items-stretch justify-center gap-4 md:flex-row md:items-center"
          >
            <div class="w-full md:flex-1">
              <Projects />
            </div>
            <div class="w-full md:flex-1">
              <Docs />
            </div>
            <div class="w-full md:flex-1">
              <Recommendation />
            </div>
          </div>
        </div>
        <div class="md:h-[10vh] box-border">
          <Skills />
        </div>
        <div class="md:w-full h-[2vh] md:mt-0 mt-3">
          <img src={Bot.src} />
        </div>
      </div>
    </div>
  </div>
</Layout>

<style>
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }

  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
</style>
