---
import AboutMe from "./About/AboutMe.astro";
import Contacts from "./Contact/Contact.astro";
import Projects from "./Project/Projects.astro";
---

<div class="flex gap-4 min-w-[50%] max-w-[50%] justify-center">
  <AboutMe />
  <Projects />
  <Contacts />
</div>
