---
import styles from "./Main.module.css";
import AboutMe from "./About/AboutMe.astro";
import Contacts from "./Contact/Contact.astro";
import Projects from "./Project/Projects.astro";
---

<div class={styles.main_container}>
  <AboutMe />
  <Projects />
  <Contacts />
</div>
